// @import '@/assets/scss/sample';

.user-account-container {
  width:100%;
  padding:0 1%;
}
.page-title {
  @include xl-font;
  text-align: center;
  font-weight: bolder;
  margin-bottom: 20px;
}
.user-account-contents {
  width: clamp(320px, 100%, 1000px);
  margin: 0 auto;
  border: 1px solid $gray100;
  border-radius: 5px;
  background: white;
  @include shadow1;
  padding: clamp(5px, 2vw,20px);
}
.section-part{
  border-radius: 10px;
  &:nth-child(1){
    padding:15px 10px;
    margin-bottom:10px;
    width:100%;
    flex-shrink: 0;
    background-color: $gray100;
    flex-grow: 1;
  }
  &:nth-child(2){
    overflow-y: hidden;
  }
}
.user-img {
  position: relative;
  width:100%;
  margin: 0 0 10px 0;
  text-align: center;
  padding: 10px 0;
  & > img {
    position:relative;
    z-index:1;
    $gap : clamp(130px,30vw,160px);
    width: $gap;
    height: $gap;
    border-radius: 50%;
    object-fit: cover;
    object-position: center center;
    padding: 5px;
    background-color: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    @include transition(transform 0.5s)
    &:hover{
      transform: scale(1.2);
    }
  }
}
.img-background{
  position: absolute;
  top:0;
  left:0;
  z-index:0;
  width:100%;
  background-color: $dark-green400  ;
  height:clamp(110px,30vw,140px);
}

.info-item{
  @include flexbox;
  @include align-items(center);
  margin-bottom:10px;
  @include flexbox;
}
.item-header{
  flex-basis: 40%;
  flex-shrink: 0;
  font-weight: bold;
  &::before{
    display: inline-block;
    content: "";
    width:8px;
    height:8px;
    border-radius: 50%;
    background-color: $dark-green400;
    margin-right:5px;
    transform: rotate(45deg);
  }
  
}
.item-label{
  flex-grow: 1;
  text-align: right;
}
.pen-icon{
  @include lg-font;
  margin-left:10px;
  color: $blue300;
  cursor:pointer;
  @include transition(color 0.2s);
  &:hover{
    color:$blue600;
  }
}
.item-display{
  width:100%;
  @include flexbox;
  @include justify-content(space-between);
}
.item-input {
  width:100%;
  @include flexbox;
  @include justify-content(flex-end);
  @include align-items(center);
  & > input{
    width: 140px;
    border: none;
    background-color: transparent;
    padding:0;
    color:$dark-green800;
    text-align: right;
  }
  svg {
    color: $gray600;
    margin-left:10px;
    @include lg-font;
    cursor: pointer;
    @include transition(color 0.2s);
    &:hover {
      color: $green800;
    }
  }
}
.address-elipsis{
  width:140px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}






.profile-change-button {
  @include flexbox;
  @include justify-content(center);
  & > label > svg {
    position: relative;
    z-index:2;
    top: -50px;
    right: -70px;
    width: 30px;
    height: 30px;
    padding: 10px;
    border-radius: 50%;
    background-color: $gray600;
    color: white;
    box-sizing: content-box;
    cursor: pointer;
    @include transition(transform 0.5s);
    &:hover{
      transform: rotate(180deg);
    }
    @include mobile() {
      right: -60px;
      width: 28px;
      height: 28px;
    }
    @include xs-mobile() {
      top: -45px;
      right: -45px;
      width: 24px;
      height: 24px;
    }
  }
}
.email,
.social,
.nickname,
.phone {
  margin-bottom: 30px;
  text-align: center;
}
.item-display {
  @include flexbox;
  @include justify-content(center);
  @include align-items(center);
  &.address {
    margin-bottom: 20px;
  }
}

.nickname,
.phone {
  input {
    border: none;
    border-bottom: 1px solid $gray400;
    width: 130px;
    text-align: center;
    margin-right: 5px;
  }
}
.address {
  input {
    border: none;
    border-bottom: 1px solid $gray400;
    min-width: 200px;
    text-align: center;
    margin-right: 5px;
  }
}


.map-container {
  width: 100%;
}
@include fade-transition(0.5s);
