// @import '@/assets/scss/sample';
.userstore-container {
  width: 100%;
}
.main-content-wrapper {
  @include flexbox;
  @include justify-content(center);
}
.main-content {
  width: 100%;
  padding: 5px 10px 5px;
  max-width: 1200px;
  min-height: 90vh;
}
.store-title {
  font-size: 30px;
  font-weight: 800;
  @include pc {
    font-size: 26px;
  }
  @include mobile {
    font-size: 22px;
  }
  @include xs-mobile {
    font-size: 20px;
  }
}
.header-container {
  position: relative;
}
.nav-aside {
  position: fixed;
  top:0;
  left:0;
  width: 100vw;
  height: 100vh;
  @include cross-middle;
  opacity: 0;
  visibility :hidden;
  z-index:4;
  @include transition(0.5s);
}
.nav-item {
  @include flexbox;
  @include align-items(center);
  color:white;
  font-weight: bold;
  @include xl-font;
  color:white;
  cursor:pointer;
  padding: 10px 10px 10px;
  @include transition(0.2s);
  transform-origin: left;
  &:hover {
    transform: scale(1.5);
  }
  img{
    color:white;
    margin-right:10px;
  }
  i{
    margin-right:5px;
  }
}
.store-thumbnail {
  img {
    height: 10vw;
    object-fit: cover;
    object-position: center 50%;
    width: 100%;
  }
}
.logo-and-title {
  height: 10vw;
  position: absolute;
  top: 0px;
  color: white;
  width: 100%;
  padding: 10px 20px;
  border-top: 5px $purple200 solid;
  @include flexbox;
  @include align-items(center);
  background-color: rgba(0, 0, 0, 0.4);
}
.store-logo {
  $length: clamp(20px, 8vw, 130px);
  width: $length;
  height: $length;
  box-shadow: 0 0 3px rgba(255, 255, 255, 0.6);
  object-fit: cover;
  object-position: center 50%;
  margin-right: 10px;
  border-radius: 10px;
}
.time-deal-ani {
  font-family: neon;
  font-weight: bold;
  color: #fb4264;
  // text-shadow: 0 0 10px #f40a35;
  animation: neon 1s ease infinite;
  -moz-animation: neon 1s ease infinite;
  -webkit-animation: neon 1s ease infinite;
}

.header-thumbnail {
  padding: 1%;
  border: 2px $gray200 solid;
}
@keyframes neon {
  0%,
  70% {
    //   text-shadow: 0 0 1vw #FA1C16, 0 0 3vw #FA1C16, 0 0 10vw #FA1C16, 0 0 10vw #FA1C16, 0 0 .4vw #FED128, ;
    color: #f40a35;
  }
  50% {
    text-shadow: 0 0 2px #d3cac9, 0 0 4px #d8918f, 0 0 6px #f08c64, 0 0 8px #800e0b;
    //   color: #806914;
  }
}
#toggle-button{
  display: none;
  &:checked + .toggle-label{
    transform: rotate(360deg) scale(1.2);
    background-color: $blue600;
  }
  &:checked ~ .menu-background{
    opacity: 0.9;
    transform: scale(100);
  }
  &:checked ~ .nav-aside{
   visibility: visible; 
    opacity:1;
  }
}
.toggle-label{
  z-index:5;
  position: fixed;
  top: 70px;
  right: 20px;
  width: 50px;
  height: 50px;
  @include cross-middle;
  border-radius: 50%;
  background-color: $blue400;
  box-shadow: 0px 0px 6px rgba(0,0,0,0.4);
  color:white;
  cursor: pointer;
  &:hover {
    background-color: $blue600;
  }
  @include lg-font;
  @include transition(all 0.6s);
  @include mobile{
    top:60px;
    right:15px;
    width: 40px;
    height: 40px;
  }
  @include xs-mobile{
    top:65px;
    right:15px;
    width: 30px;
    height: 30px;
  }
}
.menu-background{
  position: fixed;
  top: 70px;
  right: 20px;
  z-index:4;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  opacity: 0.2;
  background: $blue400;
  @include transition(all 0.6s);
  @include mobile{
    top:60px;
    right:15px;
    width: 40px;
    height: 40px;
  }
  @include xs-mobile{
    top:65px;
    right:15px;
    width: 30px;
    height: 30px;
  }
}