$black: #000000;
$gray900: #151617;
$gray850: #21282F;
$gray800: #495057;
$gray700: #6F767D;
$gray600: #838990;
$gray500: #979CA2;
$gray400: #BEC2C6;
$gray300: #D2D5D8;
$gray250: #DEE0E3;
$gray200: #E8EAED;
$gray100: #F4F5F7;
$gray000: #FAFBFC;
$white: #FFFFFF;

//Green
$green800: #00B334;
$green600: #00C854;
$green400: #5CE596;
$green200: #A7CFAA;
$green100: #DEFAEB;
$green000: #F7FCF9;

//dark-green
$dark-green800: #2ca581;
$dark-green600: #55b598;
$dark-green400: #78bfaa;
$dark-green200: #9fc9bc;

//Red
$red800: #CC2727;
$red600: #FA5252;
$red400: #FF8888;
$red100: #FFDFDF;
$red000: #FFF7F7;


//Blue
$blue800: #0074CC;
$blue600: #1E90FF;
$blue500: #4c8fe6;
$blue400: #7EC1FF;
$blue300: #a8c9e7;
$blue200: #abc4f3;
$blue100: #c4e6fd;
$blue000: #F2FAFF;



//purple
$purple800:#a82afc;
$purple600: #b868ff;
$purple400: #cda8ed;
$purple200: #efd1ff;
//navy
$navy800: #1f578e;
$navy800: #37699b;
$navy400: #5989ba;
$navy200: #79a0c6;

//Yellow
$yellow800: #fcdd11;
$yellow600: #f9e24d;
$yellow400: #ffed77;
$yellow200: #f9f2c0;

$primary: $green600;
$success: $blue600;
$error: $red600;
$secondary: $gray600;

$border-color: $gray200;
$input-border-color: $gray250; // Input, Select, Textarea, TextField
$input-hover-border-color: $gray400 // Input, Select, Textarea, TextField
