@import "mixins";
@import "variables";
@import "fonts";

*, *:before, *:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  outline: none;
  // 모바일에서 탭을 할 경우 하이라이트 되는 색을 제거함
  -webkit-tap-highlight-color :rgba(0,0,0,0);
}
a {
  color: black; text-decoration: none; outline: none;
}

ul{
  list-style:none;
}
button {
  border: 1px solid $gray600; 
  box-shadow:none; 
  border-radius:5px;
  padding:5px; 
  cursor:pointer;
}

html {
  @include pc {
    overflow-y: $html-overflow-y;
    scrollbar-arrow-color: $gray200; // 스크롤 바 아래위 왼쪽 오른쪽 화살표 색
    scrollbar-base-color: $gray100;  // 스크롤 바 전체 배경 색
    scrollbar-Face-Color: $blue100;  // 상하좌우로 움직이는 부분(thumb), 화살표가 포함된 상하좌우 끝 사각형 부분(button) 색
    scrollbar-Track-Color: $gray100; //  스크롤 바 thumb를 제외한 나머지 빈 부분 색
    scrollbar-3dLight-Color: $gray100;  // 스크롤 바 thumb, button의 왼쪽. 즉, 밝은 부분 색
    scrollbar-DarkShadow-Color: $gray100; // 스크롤 바 thumb, button의 오른쪽. 즉, 어두운 부분 색
    scrollbar-Highlight-Color: $gray100; // 스크롤 바 thumb, button의 위, 즉, 밝은 부분 색
    scrollbar-Shadow-Color: $gray100; // 스크롤 바 thumb, button의 아래, 즉, 어두운 부분 색

    /* Chrome, Safari용 스크롤 바 */
    ::-webkit-scrollbar {
      // 	스크롤 바 영역 전체
      width: 8px;
      height: 8px;
      border: 3px solid #fff;
    }

    ::-webkit-scrollbar-track {
      // 화살표를 제외한 몸통 부분
      background: $gray100;
      -webkit-border-radius: 10px;
      border-radius: 10px;
      -webkit-box-shadow: inset 0 0 4px rgba(0, 0, 0, 0.2); // inset: 그림자를 요소의 안쪽에서 만듬
    }

    ::-webkit-scrollbar-thumb {
      // 몸통 부분에서 실제 움직이는 부분
      height: 50px;
      width: 50px;
      background: $blue300;
      -webkit-border-radius: 8px;
      border-radius: 8px;
      -webkit-box-shadow: inset 0 0 4px rgba(0, 0, 0, .1);
    }
  }
}

body {
  @include selection($body-selection); // 드래그 색상
  font-family: $web-font-family;
}

body, header, footer, section, article, aside, div {
  @include user-select($div-user-select);
  // 만약 텍스트 선택이 불가능하게 하려면 $div-user-select를 none으로 설정하면 된다.
}

body{
  min-height: 100vh;
}