.admin-container {
    min-height: 100vh;
    background-color:$gray100;
    .admin-header {
      width: 100%;
      padding-top: 50px;
      text-align: end;
    }
    h1 {
      width: 100%;
      text-align: center;
      margin-top: 30px;
    }
    select {
      text-align: left;
      margin-right: 5%;
    }
  }
  