// @import '@/assets/scss/sample';
.userstore-info-container {
  margin-bottom: 20px;
  width: 100%;
}
.card-shadow {
  @include shadow1;
  border-radius: 5px;
}
.userstore-introduce {
  flex-basis: 50%;
  padding:10px;
  border: 1px solid $gray200;
  @include flexbox;
  flex-wrap: wrap;
  
}
.operation-title {
  width: 100%;
  margin-bottom: 10px;
  font-weight: $bold;
  @include xs-mobile {
    font-size: 13px;
  }
}
.userstore-info-middle{
  @include flexbox;
  @include lg-pc{
    font-size:16px;
  }
  @include pc{
    font-size:15px;
  }
  @include mobile{
    font-size:14px;
  }
  @include xs-mobile{
    font-size:13px;
  }

}
.userstore-operation{
  flex-basis: 50%;
  border: 1px solid $gray200;
  padding:10px;
  border-left:0px;
}
.operation-content {
  width: 100%;
}
.content-label {
  margin-bottom: 3px;
}
.content-info{
  display: inline-block;
  &.font-red {
    color: $red600;
    font-weight:600;
  }
}
.kakaomap-title {
  width: 100%;
  margin-bottom: 10px;
  font-weight: $bold;
  @include xs-mobile {
    font-size: 13px;
  }
}
.kakaomap-content {
  border: $gray200 2px solid;
  @include xs-mobile {
    font-size: 12px;
  }
}
.kakaomap-copy-button {
  display: inline-block;
  width: 70%;
  border: none;
  background-color: $gray400;
  text-align: center;
  border: $gray200 2px solid;
}
.kakaomap-navigation-button {
  display: inline-block;
  color: white;
  width: 30%;
  padding: 1px 2px;
  background-color: $blue400;
  text-align: center;
  border: $gray200 2px solid;
  &:hover {
    background-color: $blue600;
    cursor: pointer;
  }
}
.license-title {
  width: 100%;
  margin-bottom: 10px;
  font-weight: $bold;
  @include xs-mobile {
    font-size: 13px;
  }
}
.license-content {
  @include flexbox;
  flex-wrap: wrap;
 
}
.introduce-title {
  margin-bottom: 10px;
  width: 100%;
  font-weight: $bold;
  @include xs-mobile {
    font-size: 13px;
  }
}
.introduce-content {
  text-indent: 0em;
  font-family: S-CoreDream-4Regular;
  white-space: pre-line;
  line-break: normal;
  font-size: 14px;
  @include xs-mobile {
    font-size: 12px;
  }
}
.license-label {
  margin-bottom: 3px;
  flex-basis: 30%;
  @include xs-mobile {
    font-size: 12px;
  }
}
.license-info {
  flex-basis: 70%;
  margin-bottom: 3px;
  @include xs-mobile {
    font-size: 12px;
  }
}
.label-icon{
  display: inline-block;
  width:16px;
}
svg{
  color:$gray600;
}