.order-list-container {
    width: 80%;
    max-width: 1080px;
    .order-list-title {
        font-size: 24px;
        text-align: center;
        font-weight: 600;
        margin-bottom: 20px;
        @include mobile() {
          font-size: 18px;
        }
        @include xs-mobile() {
          font-size: 16px;
        }
    }
    .order-list-items {
        @include flexbox;
        background-color: white;
        border: 1px $gray200 solid;
        padding: 1%;
        justify-content: space-between;
        flex-wrap: wrap;
        // flex-direction: column;
        .order-list-header {
            padding: 2%;
          @include flexbox;
          @include align-items(center);
          flex-wrap: wrap;
          margin-bottom: 10px;
          border: $gray600 2px solid;
          border-radius: 10px;
          .item-store {
            @include lg-pc {
                font-size: 1.4em;
            }
        }
        .item-date {
            width: 100%;
            text-align: end;
        }
        .item-status {
            color: $red600;
            width: 100%;
            text-align: end;
            @include mobile {
                font-size: 0.8em;
            }
        }
          .item-logo {
              $length: clamp(20px, 30%, 120px);
              border-radius: 10%;
              width: $length;
              height: $length;
              object-fit: cover;
              object-position: center 50%;
              margin-right: 10px;
              cursor: pointer;
              @include mobile {
                $length: clamp(20px, 25%, 120px);
                width: $length;
                height: $length;
            }
          }
        }

        .order-list-item {
            @include shadow1;
            padding: 1%;
            margin-bottom: 15px;;
            width: 49%;
            position: relative;
            @include xs-mobile {
                width: 100%;
            }
            .order-menu-container {
                margin: 0 4%;
            }
            .order-list-body {
                @include flexbox;
                padding: 2%;
                .item-name {
                    text-align: start;
                    width: 70%;
                    font-size: 0.9em;
                    @include mobile {
                        font-size: 0.7em;
                    }

                }
                .item-price {
                    width: 30%;
                    // padding: 2%;
                    font-size: 0.9em;
                    text-align: end;
                    @include mobile {
                        font-size: 0.7em;
                    }
                }
            }
            .order-list-accum-price {
                border-top: $gray400 1px solid;
                margin: 0 4% 35px 4%;
                padding: 2%;
                // border: 2px solid $blue400;
                @include flexbox;
                margin-top: 10px;
                .accum-price-label {
                    width: 70%;
                    @include mobile {
                        font-size: 0.8em;
                    }
                }
                .accum-price {
                    width: 30%;
                    text-align: end;
                    @include mobile {
                        font-size: 0.8em;
                    }
                }

            }
            
            .order-list-footer {
                width: 100%;
                text-align: center;
                padding: 15px 10px;
                // position: absolute;
                bottom: 0px;
                @include mobile {
                    font-size: 0.8em;
                    padding: 10px 7px;
                }
                &:hover {
                    cursor: pointer;
                }
            }
        }
        

    }
}