.timedeal-container {
    border: 2px solid $gray400;
    header {
        text-align: center;
        
    }
    .timedeal-item {
        border: 2px solid $blue400;
        border-radius: 15px;
        @include shadow1;
        @include flexbox;
        flex-wrap: wrap;
        width: 95%;
        margin: auto;

        .item-thumbnail {
            position: relative;
            width: 60%;
            padding: 1%;
            text-align: center;
            border-right: 2px solid $gray400;
            img{
                border-radius: 5%;
                @include lg-pc {
                    height: 278px
                }
                @include pc {
                    height: 210px
                }
                @include mobile {
                    height: 210px
                }
                @include xs-mobile {
                    
                    height: 110px
                }
            }
        }
        .item-info {
            @include flexbox;
            width: 40%;
            padding: 1%;
            flex-direction: column;
            // justify-content: space-between;
            // flex-wrap: wrap;
            .info-header {
                @include flexbox;
                width: 100%;
                
                .timedeal-title {
                    width: 30%;
                    margin-right: 5%;
                    border-radius: 10px;
                    border: $gray200 solid 1px;

                    .timedeal-logo {
                        width: 60%;
                        background-color: $red600;
                        text-align: center;
                        color: whitesmoke;
                        border-radius: 10px;
                        padding: 2%;
                    }
                }
            }
            .reserved-stock {
                width : 100%;
                font-size: 0.9em;
                text-align: end;
            }
            .info-name {
                font-weight: bold;
                @include lg-pc {
                    font-size: 1.3em;
                    padding-top: 10px;
                    padding-bottom: 10px;
                }
            }
            .info-introduce {
                @include flexbox;
                color: red;
                height: 150px;
                word-break: keep-all;
                align-items: center;
            }
            .info-footer {
                @include flexbox;
                // padding-top: 50px;
                justify-content: space-between;
                .info-timedeal-price {
                    margin-bottom: 10px;
                    display: inline-block;
                    width: 50%;
                    .info-origin-price{
                        color: red;
                        &::before{
                            content: '타임딜가 ';
                            color: white;
                        }
                    }
                    .info-sale-price{
                        &::before {
                            content: '타임딜가 ';
                            color: $red600;
                        }
                    }
                }
                .order-number-container {
                    @include flexbox;
                    align-items: center;
                    justify-content: center;
                    width: 50%;
                    .order-number {
                        display: inline-block;
                        width: 50%;
                        &::before{
                            content: '주문'
                        }
                    }
                }
            }
        }
        .item-sum {
            width: 30%;
        }
    }
}